---
import GitHub from "../icons/GitHub.astro";
import NextIcon from "../icons/NextJS.astro";
import TailwindIcon from "../icons/Tailwind.astro";
import ExternalLinkIcon from "../icons/ExternalLink.astro";
import LinkButton from "./LinkButton.astro";
import AlgoliaIcon from "../icons/Algolia.astro";
import TypeScriptIcon from "../icons/Typescript.astro";
import FirebaseIcon from "../icons/Firebase.astro";
import VercelIcon from "../icons/Vercel.astro";

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextIcon,
    size: "size-4",
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: TailwindIcon,
    size: "size-4",
  },
  ALGOLIA: {
    name: "",
    class: "bg-white text-[#5468FF]",
    icon: AlgoliaIcon,
    size: "w-14 h-4 px-2",
  },
  TYPESCRIPT: {
    name: "TypeScript",
    class: "bg-[#3178C6] text-white",
    icon: TypeScriptIcon,
    size: "size-3",
  },
  FIREBASE: {
    name: "Firebase",
    class: "bg-[#FFCA28] text-black",
    icon: FirebaseIcon,
    size: "size-4 bg-black rounded-full",
  },
  VERCEL: {
    name: "AI SDK Vercel",
    class: "bg-[#FFF] text-black",
    icon: VercelIcon,
    size: "size-4",
  },
};

const PROJECTS = [
  {
    title: "E-commerce Manso editorial",
    description: `Desarrollé un e-commerce completo para Manso Editorial, un emprendimiento local enfocado en la venta de libros, con el objetivo de digitalizar su negocio y optimizar la experiencia de compra en línea.`,
    image: "/manso_editorial.webp",
    link: "https://www.mansoeditorial.com/",
    tags: [TAGS.NEXT, TAGS.TYPESCRIPT, TAGS.TAILWIND],
  },
  {
    title: "Destinopolis",
    description: `Esta aplicación web fue desarrollada para el hackathon organizado por Midudev y Vercel. Permite generar cronogramas de viajes utilizando inteligencia artificial y ofrece una experiencia fluida y precisa. Fue desarrollada con Next.js 14 y el SDK AI de Vercel, la aplicación genera cronogramas que incluyen recomendaciones de lugares obtenidas a través de la API de OpenAI, complementadas con información detallada sobre el clima, transporte, fotografías y más, gracias a la integración con las APIs de OpenWeatherMap, Here Maps, Google Maps, y Amadeus.
    `,
    image: "/destinopolis.webp",
    link: "https://www.youtube.com/watch?v=Qf7ACWhiH9s",
    github: "https://github.com/Francisco-B07/destinopolis",
    tags: [TAGS.NEXT, TAGS.TYPESCRIPT, TAGS.VERCEL],
  },
];
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ title, description, image, link, github, tags }) => (
      <article>
        <h3 class="text-2xl font-semibold text-yellow-200/90 mb-2 md:px-0 px-4">
          {title}
        </h3>
        <p class="text-base md:text-lg mb-4 text-pretty md:px-0 px-4">
          {description}
        </p>
        <ul class="flex gap-x-2 flex-row mb-2 md:ml-0 ml-4">
          {tags.map((tag) => (
            <li>
              <span
                class={`${tag.class} flex gap-x-2 rounded-full text-xs py-1 px-2`}
              >
                <tag.icon class={`${tag.size}`} />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>
        <img
          class="rounded shadow-2xl shadow-white/10 md:px-0 px-4 mt-4"
          src={image}
          alt={`Captura de pantalla del proyecto ${title}`}
        />
        <footer class="flex items-center gap-x-4 mt-4 md:px-0 px-4">
          {github && (
            <LinkButton href={github}>
              <GitHub class="size-4 md:size-6" /> Ver código fuente
            </LinkButton>
          )}
          <LinkButton href={link}>
            Ver proyecto <ExternalLinkIcon class="size-4 md:size-6" />
          </LinkButton>
        </footer>
      </article>
    ))
  }
</div>
